.clearfix::after {
        clear: both;
        content: "";
        display: block;
}

h1 {
    font-weight: 700;
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    width: 150px;
    /* background-color: brown; */
    padding-top: 20px;

}

body {
/* background-color:red;
background-image: 
radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 20%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 20%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
background-size:100px 50px; */

    background-image: url("https://raw.githubusercontent.com/farmuss/Basic-Portfolio/master/images/texture.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;

}

#header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
    border-style: solid;
    border-color: #cccccc;
    border-width: 3px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ffffff;
    width: 1520px;
    height: 50px;
    padding-left: 20%; 

}

#links {
    color: #666666;
    line-height: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 560px;
    padding: 0 5px;
    text-decoration: none;
    
}

#content {
    background: #ffffff;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    width:  960px;
    margin: 10px 20% 60px 20%;
    padding: 0 10px 10px 10px;
    position: relative;

}

#footer {
    color: #ffffff;
    background: #4aaaa5;
    position: fixed;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin-left: 0px;    
}
#footer-body {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    text-align: center;
}

#farhod { 
    background-color: #4aaaa5;
    color: #ffffff;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    height: 50px;
    /* width: 170px; */
    position: absolute;
    bottom: 0;
    margin-left: 0%;
    padding: 0 5px;
} 



p {

    margin: 5 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#img {

    margin: 10px;
    position: relative;
    float: left;
}

.btn {
    /* padding: 10px;
    height: 100px;
    background: none;
    cursor: pointer; */
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}

.btn:hover {
    background-color: #666666;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;


}

.btn:focus {
    background-color: darkcyan;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}

.btn:active {
    background-color: #666666;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#warning {
    border-style: dashed;
    border-width: 10px;
    border-color: darkred;
    color: darkred;
    top: 200px;
    z-index: 1;
    position: fixed;
    margin-left: 190px;
    line-height: 630px;
    height: 600px;
    width:  600px;
    text-align: center;
    background: darkgoldenrod;
    font-size: 50px;
    font-weight: 800;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #666666;
}

.container {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
}

